.example-spacer {
  flex: 1 1 auto;
}

.container {
  padding: 50px 80px 100px;
}

.icons {
  cursor: pointer;
  transition: 0.5s;
  color: var(primary);
}

.icons:hover {
  transform: scale(1.2);
}

.button {
  background-color: #fff;
  border: none;
}

.increaseButton {
  color: #3f51b5;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  color: #3f51b5;
}

.demo-row-is-clicked {
  font-weight: bold;
}
