<h1 mat-dialog-title>Create Element</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input matInput [(ngModel)]="data.id" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>cnpj</mat-label>
    <input matInput [(ngModel)]="data.cnpj" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>especialidade</mat-label>
    <input matInput [(ngModel)]="data.especialidade" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>telefone</mat-label>
    <input matInput [(ngModel)]="data.telefone" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>cep</mat-label>
    <input matInput [(ngModel)]="data.cep" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>endereco</mat-label>
    <input matInput [(ngModel)]="data.endereco" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>cidade</mat-label>
    <input matInput [(ngModel)]="data.cidade" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>status</mat-label>
    <input matInput [(ngModel)]="data.status" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>preco</mat-label>
    <input matInput [(ngModel)]="data.preco" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirm</button>
</div>
